<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlys.zypwhomepage.mapper.ArticleMapper">

    <resultMap id="article" type="com.xlys.zypwhomepage.domain.Article">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="read_times" jdbcType="INTEGER" property="readTimes"/>
        <result column="collect_times" jdbcType="INTEGER" property="collectTimes"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>

    <select id="getArticleDetailInfoById" resultType="com.xlys.zypwhomepage.domain.Article">
        select
               tha.id,
               tha.title,
               tha.collect_times,
               tha.content,
               tha.read_times,
               (
                    select
                        tsc.desc_ch
                    from
                        t_sys_config tsc
                    where
                        tsc.category = 'article_category' and tsc.full_value = tha.category) as category,
               (
                   select
                       group_concat(tsc.desc_ch separator ', ')
                   from
                       t_sys_config tsc
                   where
                       tsc.category = 'article_tag' and tsc.full_value in (
                       select
                           substring_index(substring_index(tha.tags , ',', ht.help_topic_id + 1), ',',-1) as num
                       from
                           mysql.help_topic ht
                       where
                        <![CDATA[ht.help_topic_id<length(tha.tags)-length(replace(tha.tags, ',', ''))+1]]>
                   )) as tags,
               tha.release_time as releaseTime
        from t_homepage_article tha
        where id = #{aid}
    </select>

    <!--查询所有文章数据-->
    <select id="getAllArticleDetail" resultType="com.xlys.zypwhomepage.domain.Article">
        select *
        from t_homepage_article
        where 1 = 1
    </select>

    <select id="getCurrentPageArticlesAndTotalCount" parameterType="java.util.Map"
            resultType="com.xlys.zypwhomepage.domain.Article">
        select
        tha.id as id,
        tha.title as title,
        tha.read_times as readTimes,
        tha.collect_times as collectTimes,
        tha.content as content,
        (
            select
                tsc.desc_ch
            from
                t_sys_config tsc
            where
                tsc.category = 'article_category' and tsc.full_value = tha.category) as category,
        (
            select
                group_concat(tsc.desc_ch separator ', ')
            from
                t_sys_config tsc
            where
                tsc.category = 'article_tag' and tsc.full_value in (
                    select
                        substring_index(substring_index(tha.tags , ',', ht.help_topic_id + 1), ',',-1) as num
                    from
                        mysql.help_topic ht
                    where
                        <![CDATA[ht.help_topic_id<length(tha.tags)-length(replace(tha.tags, ',', ''))+1]]>
            )) as tags,
        tha.release_time as releaseTime
        from
            t_homepage_article tha
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="getTotalArticleCount" resultType="java.lang.Integer">
        select count(1)
        from t_homepage_article
    </select>


</mapper>