<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlys.zypwhomepage.mapper.ArticleMapper">

    <resultMap id="article" type="com.xlys.zypwhomepage.domain.Article">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="read_times" jdbcType="INTEGER" property="readTimes"/>
        <result column="collect_times" jdbcType="INTEGER" property="collectTimes"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>

    <select id="getArticleDetailInfoById" resultType="com.xlys.zypwhomepage.domain.Article">
        select * from t_homepage_article where id = #{aid}
    </select>

    <!--查询所有文章数据-->
    <select id="getAllArticleDetail" resultType="com.xlys.zypwhomepage.domain.Article">
        select * from t_homepage_article where 1=1
    </select>

    <!--查询文章所有评论数据-->
    <select id="getAllArticleComments" resultType="java.util.Map">
        select distinct t1.*, if(t2.valid_flag = 0, 0, 1) as "isCurrentUserFavorite"
          from (select thc.id             as "id",
                       tsu.avatar         as "userAvatar",
                       tsu.user_account   as "username",
                       thc.content        as "commentContent",
                       thc.comment_time   as "commentTime",
                       thc.favorite_count as "commentFavoriteCount",
                       thc.reply_count    as "commentReplyCount"
                  from t_homepage_comment thc
                  left join t_sys_user tsu
                    on thc.comment_owner = tsu.user_id
                   and tsu.alive_flag = 0
                 where thc.opus_id = #{aid}) t1
          left join t_homepage_favorite t2
            on t1.id = t2.comment_id
           and t2.user_id = #{userId}
    </select>

    <!--获取评论的子评论详情-->
    <select id="getSubCommentsByCommentId" parameterType="java.lang.Integer" resultType="java.util.Map">
        select
            distinct t1.*,
            if(t2.valid_flag = 0,
            0,
            1) as "isCurrentUserFavorite"
        from
            (
            select
                thc.id as "id", tsu.avatar as "userAvatar", tsu.user_account as "username", thc.content as "commentContent", thc.comment_time as "commentTime", thc.favorite_count as "commentFavoriteCount"
            from
                t_homepage_comment thc
            left join t_sys_user tsu on
                thc.comment_owner = tsu.user_id
                and tsu.alive_flag = 0
            where
                thc.parent_id = #{cid}) t1
        left join t_homepage_favorite t2 on
            t1.id = t2.comment_id
            and t2.user_id =
            #{userId}
    </select>

</mapper>