<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlys.zypwhomepage.mapper.FavoriteMapper">

    <!--query the favorite record status-->
    <select id="selectFavoriteStatus" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        select user_id as userId, comment_id as commmentId, valid_flag as validFlag
        from t_homepage_favorite
        where comment_id = #{commentId}
          and user_id = #{userId}
    </select>

    <!--change the favorite record status-->
    <update id="changeFavorite" parameterType="java.lang.Integer">
        update t_homepage_favorite set
        <if test="favoriteStatus == false">
            valid_flag = 1
        </if>
        <if test="favoriteStatus == true">
            valid_flag = 0
        </if>
        where user_id=#{userId} and comment_id=#{commentId}
    </update>

    <!--add new favorite record-->
    <insert id="addNewFavorite" parameterType="java.lang.Integer">
        insert into t_homepage_favorite
        values (comment_id = #{commentId},
                user_id = #{userId},
                valid_flag = 0,
                create_time = now(),
                modify_time = null)
    </insert>

    <select id="getStarInfoByCid" parameterType="java.lang.Integer" resultType="java.util.Map">
        select thf.user_id as userId, thf.valid_flag as favorited
        from t_homepage_favorite thf
        where comment_id = #{cid}
    </select>

    <insert id="addNewFavorites">
        insert into t_homepage_favorite (
                                         user_id,
                                         comment_id,
                                         valid_flag,
                                         create_time,
                                         modify_time)
                        VALUES
        <foreach collection="increasedUserIds" item="userId" separator=",">
            (
             #{userId},
             #{cid},
             0,
             now(),
             null
             )
        </foreach>
    </insert>

    <update id="batchUpdateFavorite">
        <foreach collection="dbStarInfo" separator=";"  item="starInfo">
            update
                t_homepage_favorite
            SET
                valid_flag = #{starInfo.favorited},
                modify_time = now()
            where
            comment_id = #{cid} and user_id=#{starInfo.userId}

        </foreach>
    </update>

</mapper>